@import "tailwindcss";
@import "./fonts.css";

@theme {
  --font-inconsolata: "Inconsolata", monospace;

  --color-neutral-0: hsl(0, 0%, 100%);
  --color-neutral-300: hsl(252, 6%, 83%);
  --color-neutral-500: hsl(245, 15%, 58%);
  --color-neutral-700: hsl(245, 19%, 35%);
  --color-neutral-900: hsl(248, 70%, 10%);

  --color-orange-500: hsl(7, 88%, 67%);
  --color-orange-700: hsl(7, 71%, 60%);

}

h1 {
  @apply text-3xl font-extrabold md:text-5xl;
}

h2 {
  @apply text-xl font-light md:text-2xl md:max-w-xl;
}

@utility writing-vertical {
  writing-mode: vertical-lr;
}

@utility text-linear-gradient {
  background: linear-gradient(to right, hsl(7, 88%, 67%) 40%, hsl(0, 0%, 100%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}